a { text-decoration:none;}

ul { margin:0; padding:0; }
li { margin-left:0px!important;
    list-style-type:none; }

u { text-decoration:none; }

p { margin:5px 0; }
p:first-of-type { margin-top:0; }
p:last-of-type { margin-bottom:0; }

::-webkit-scrollbar { width:8px;
    padding:2px;
    margin-top:-1px;
    margin-bottom:-1px;
    overflow:hidden; 
    border-left:1px solid transparent;}
    
::-webkit-scrollbar-thumb {
    outline:1px solid black;
    margin-top:-1px;
    margin-bottom:-1px;
    border-left:1px solid transparent;}

body { 
    font:11.5px 'Nunito Sans', sans-serif;
    margin:0;
    line-height:22px; 
    padding:0; }
    
#content { 
    width:680px;
    height:520px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-340px;
    margin-top:-260px;
    border-radius:2px;
    border:1px solid transparent;}

nav {
    width:240px;
    height:100%;
    line-height:17px;
    position:relative;
    display:inline-block;
    border-right:1px solid transparent; }

#image { 
    height:160px;
    display:block;
    margin-bottom:10px;
    background-size:cover;
    background-position:center;
    border-bottom:1px solid transparent;}


.links dt { font-weight:bold; }
.links dt, .links dl { margin:0 0 0 10px; }
.links i { 
    font-size:11.5px;
    line-height:14px;
    padding:9px 10px 10px;
    float:right;
    text-align:center;
    display:inline-block; }
    
.links a {  
    margin:22px 14px;
    display:block; }

header {
    position:fixed;
    width:401px;
    padding:15px 15px;
    border-bottom:1px solid transparent; }

#avatar { 
    width:30px;
    height:30px;
    display:inline-block;
    border-radius:15px;
    vertical-align:middle;
    background-size:36px; }

#searchbox {
    margin:0 4px 30px 17px;
    display:inline-block; 
    width:230px;
    vertical-align:middle;}
 
 
.searchbox {
    border:1px solid transparent;
    outline:none;
    border-radius:15px;
    font:11.5px 'Nunito Sans';
    padding:6px 10px;
    position:absolute;
    display:inline-block;
    padding-left:30px;
    width:230px;
    transition:.4s; }
 
form#searchbox i.i-search {
    font-size:13px;
    z-index:20;
    position:absolute;
    margin:9px 11px; }
   
#main {
    display:inline-block;
    width:439px;
    top:0;
    position:absolute;
    height:100%; }
    
#controls { 
    text-align:right;
    display:inline-block;
    width:120px;
    vertical-align:middle; }
    
#controls a { 
    font-size:12px;
    display:inline-block;
    margin-left:15px;
    vertical-align:middle; }
    
.box:first-child { margin-top:66px; }

.box { width:calc(100% - 42px);
    padding:15px;
    border:1px solid transparent;
    border-radius:2px;
    margin:5px;
    text-align:justify; }
    
h1 { 
    margin:0 0 8px; 
    font-size:14px;
    font-weight:600;
    letter-spacing:.5px; }


/* blogroll */
.each {
    display: inline-block;
    width: calc(100% / 3);
    text-align: left;
    overflow:hidden;
    padding: 5px 0px;}
    
.each img { 
    width: 13px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    border-radius: 13px;
    margin-bottom: 1px; }

.each-name { display:inline-block;
    width:100px;}

.about a { border-bottom:1px solid transparent; }
.box a, i[class^="i"], dt { transition:.3s; }

.tags { text-align:left; }
.tags ul li { 
    display:inline-block;
    width:calc(100% / 3 - 2px); }
    
.tags ul:first-of-type { margin-top:0; }
.tags ul { margin-top:15px; }